# DVC
.dvc/cache/
.dvc/config.local

# Local environment
.venv/
venv/
env/
.tools/
.env
.DS_Store
Thumbs.db

# Data & models
data/
models/*
!models/model.pkl
!models/preprocessor_v1.pkl

# MLflow and monitoring
mlruns/
logs/
reports/

# CatBoost logs
catboost_info/

# Python
__pycache__/
*.pyc

# Notebook
*.ipynb

# Local report bundles
FraudDetection_report_package_*.zip
